@using Testovik_Automat.Requests;

@model CatalogRequest;

@{
	ViewData["Title"] = "Главная";
}

<body>
	<div class="content">
		<div class="top_line">

			<div class="col col__wide">
				<h1>Газированные напитки</h1>
			</div>

			<div class="col">
			</div>

			<div class="col">
				<button class="action_button button__def" id="excel">Импорт</button>
			</div>

			<div class="col col__wide">
				<label>Выберите бренд</label>
				<br><br>
				<select name="" class="select" id="brends">
					<option value="0">Все бренды</option>

					@foreach (var item in Model.Brends)
					{
						<option value="@item.Id">@item.Name</option>
					}

				</select>
			</div>

			<div class="col">
				@* <label>Стоимость</label>
				<br><br>
				<div class="trackbar">
					<span class="bound_label">@Model.MinPrice</span>
					<input type="range" />
					<span class="bound_label">@Model.MaxPrice</span>
				</div> *@
			</div>

			<div class="col">
				<form id="form" asp-action="Step2" asp-controller="Home">
					<input type="submit" class="action_button" value="Выбрано" id="go" disabled = "disabled">
				</form>
			</div>



		</div>

		<div class="catalog" id="zone">

		</div>
	</div>
	</div>

</body>

<script>
	$(document).ready(function () {

		var clickedIds = [];

		$(document).on('click', '.catalog-button', function () {
			var button = $(this);

			if (button.hasClass('button__active')) {

				button.removeClass('button__active');
				button.addClass('button__def');
				var id = $(this).attr('id')
				var indexToRemove = clickedIds.indexOf(id);
				clickedIds.splice(indexToRemove, 1);
				$('#i-' + id).remove();

				if(clickedIds.length == 0)
				{
					$("#go").removeClass('button__active');
					$('#go').prop('disabled', true);
				}
			}
			else {

				button.addClass('button__active');
				button.removeClass('button__def');
				var id = $(this).attr('id')
				clickedIds.push(id);
				$("#form").append('<input type ="hidden" value = "' + id + '" name="ids" id = "i-' + id + '"/>');
				$("#go").addClass('button__active');
				$('#go').prop('disabled', false);
			}
		});

		function loadList() {
			var selectedValue = $('#brends').val();

			$.post('/Home/GetTovarList', {
				brendId: selectedValue,
				ids: clickedIds
			})
				.done(function (data) {
					$("#zone").html(data);
					initScripts();
				})
		}

		loadList();

		$('#brends').change(function () {
			loadList();
		});

		$('#excel').click(function () {
			var selectedValue = $('#brends').val();
			window.location.href = '/Home/SaveExcel?idBrend=' + selectedValue;
		});
		

	});
</script>
