@{
    ViewData["Title"] = "Спасибо за покупку";
}

<body>
	<div class="content">

		<div class="top_line">
			<label class="header_text">
				Спасибо за покупку!</h1> <br>
				<label class="header_text">
					Пожайлуста, возьмите вашу сдачу: <label for="" class="label_sum">34 руб.</label></h1>
					<br><br>
					<label class="header_text">Ваши монеты:</h1> <br>
		</div>
		<div class="container_coins">
			<button class="coin coin__small">1</button>
			<label for="" class="label-tovar-name">4 шт</label>

			<button class="coin coin__small">2</button>
			<label for="" class="label-tovar-name">4 шт</label>

			<button class="coin coin__small">5</button>
			<label for="" class="label-tovar-name">4 шт</label>

			<button class="coin coin__small">10</button>
			<label for="" class="label-tovar-name">4 шт</label>
		</div>
		<div class="block_button">
			<button class="action_button" style="margin: 0 auto; display: block;">Каталог напитков</button>
		</div>


	</div>
</body>