@using Testovik_Automat.Requests

@model List<OrdersRequest>

@{
    Layout = "_admin";
}

<body>

    <table>
        <thead>
            <th>Дата заказа</th>
            <th>Сумма заказа</th>
            <th>Товар</th>
            <th>Количество</th>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.Date</td>
                    <td>@order.Sum</td>
                </tr>
                @foreach (var item in order.Items)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@item.NameTovar</td>
                        <td>@item.Count</td>
                    </tr>
                }
            }
        </tbody>
        
    </table>

</body>

